[2012-05-15 06:27] adrienthebo opened #1 "The network_config type should have a :reconfigurable feature"
It should not be assumed that any provider can reconfigure interfaces on the fly, and the :reconfigure parameter should depend on a feature being provided.

[2012-05-15 07:21] adrienthebo opened #2 "The network_config type should have a :provider_options feature"
Not all providers will respect the :options property, so this functionality should have to be explicitly turned on.

[2012-05-21 00:56] adrienthebo opened #3 "The interfaces provider does not support mapping sections"
If a mapping section is encountered in /etc/network/interfaces, the parser bails out. At the very least it should store this configuration and restore it when the file is rewritten.

[2012-06-05 22:58] adrienthebo opened #4 "interfaces provider fails when given a second interface to manage"
<pre>

root@jafir:~# puppet agent -t  --trace
info: Retrieving plugin
info: Loading facts in /var/lib/puppet/lib/facter/facter_dot_d.rb
info: Loading facts in /var/lib/puppet/lib/facter/confenv.rb
info: Loading facts in /var/lib/puppet/lib/facter/bacula.rbinfo: Loading facts in /var/lib/puppet/lib/facter/certname.rbinfo: Loading facts in /var/lib/puppet/lib/facter/concat_basedir.rbinfo: Loading fa

[2012-10-15 17:29] #4 closed, assigned to adrienthebo

[2012-10-22 18:47] adrienthebo opened #5 "The redhat provider has poor support for options with strings"
Automatic quoting of generic option strings with spaces should be added when writing, and stripped when reading.

[2012-10-22 19:36] adrienthebo opened #6 "The redhat provider needs config <-> resource munging"
network-scripts config files use 'yes' and 'no' for booleans, which adds the need for mapping. In addition, the BOOTPROTO value considers everything but 'bootp' or 'dhcp' to indicate static, so 'none' or 'static' is used. These values need to be normalized.

[2012-10-22 19:48] adrienthebo opened #7 "Add validation for type values"
<pre>
Pending:
  Puppet::Type::Network_config when validating the attribute options should be a descendant of the KeyValue property
    # on conversion to specific type
    # ./spec/unit/type/network_config_spec.rb:46
  Puppet::Type::Network_config when validating the attribute value ipaddress should fail if a malformed address is used
    # implementation of IP address validation
    # ./spec/uni

[2012-10-28 06:17] adrienthebo opened #8 "network_config properties should be validated"
<pre>
Pending:
  Puppet::Type::Network_config::ProviderInterfaces when parsing should parse out mapping lines
    # Not yet implemented
    # ./spec/unit/provider/network_config/interfaces_spec.rb:63
  Puppet::Type::Network_config::ProviderInterfaces when parsing should parse out lines following mapping lines
    # Not yet implemented
    # ./spec/unit/provider/network_config/interfaces_spec.rb:64

[2012-10-28 06:18] #8 closed, assigned to adrienthebo

[2012-10-28 06:49] #5 closed, assigned to adrienthebo

[2012-10-28 08:00] #6 closed, assigned to adrienthebo

[2012-11-11 21:49] saz opened #9 "Multiple interfaces with different families not supported"
Adding an interface (eth0:0) with address families inet and inet6 is not possible, as this will result in a duplicate definition error message.

One possible solution would be, to add a parameter 'device'.

If I'm missing something, please let me know.

[2012-11-20 13:54] codec opened #10 "Invalid value for method => loopback"
[code]

[code]

It seems method => loopback isn't supported at all?

[2012-11-27 00:23] adrienthebo opened #11 "allow-hotplug section mangles interfaces file"
The odd handling of allow-hotplug and allow-auto sections is causing those values to be improperly flushed.

<pre>
root@ubuntu:/vagrant/puppet/manifests# puppet apply --trace /vagrant/puppet/manifests/test.pp`

Error: Could not prefetch network_config provider 'interfaces': undefined method `[]' for nil:NilClass
/etc/puppet/modules/network/lib/puppet/provider/network_config/interfaces.rb:164:in `p

[2012-11-27 00:27] adrienthebo opened #12 "Support hotplug configurations"
Interfaces should be able to explicitly enable/disable hotplugging if the back end provider supports it.

[2012-11-27 00:53] #11 closed, assigned to adrienthebo

[2012-11-27 19:37] #12 closed, assigned to adrienthebo

[2012-11-28 08:17] ewtewt opened #13 "While configuration checked interface incorrectly marked as changed"
OS: RedHat
CHANGES TO CONFIGURATION: only by puppet

LOG:
...
/Network_config[bond0.126:111]/family: family changed '' to 'inet'
/Network_config[bond0.126:111]/onboot: onboot changed 'true' to 'true'
Info: FileBucket adding {md5}2ace49d5d0d14c1220b6d8a6b0cb0e72
Info: /Network_config[bond0.126:111]: Scheduling refresh of Service[network]
Info: /Network_config[bond0.126:111]: Scheduling refresh of S

[2012-12-04 23:46] adrienthebo opened #14 "Spec failures on ruby 1.9.3"
<pre>
Failures:

  1) Puppet::Type::Network_config::ProviderInterfaces when formatting writing the allow-hotplug section should allow at most one section
     Failure/Error: content.select {|line| line.match(/^allow-hotplug /)}.length.should == 1
     NoMethodError:
       private method `select' called for #<String:0x007fce4d2cad58>
     # ./spec/unit/provider/network_config/interfaces_spec.rb:11

[2012-12-05 06:28] #14 closed, assigned to nobody

[2012-12-06 04:46] adrienthebo opened #15 "Redhat provider should be hotpluggable"
Redhat interfaces can use `HOTPLUG=yes` to enable hotplugging for interfaces, this needs to be implemented for the redhat provider.

[2012-12-06 05:32] adrienthebo opened #16 "Deprecate/Remove :family property, add :ip6address property, add :ipv6 and :ipv4 features"
As exposed by #9 and as demonstrated as a byproduct of #13, the `:family` property doesn't actually make sense. Both Redhat and Debian both treat ipv6 configuration as separate from ipv4, and #9 demonstrates that in fact you can't have an IPv6 interface without an IPv6 interface.

The summary of this is that the `:family` property needs to be deprecated and removed. In place of that, features shou

[2012-12-07 07:52] #10 closed, assigned to adrienthebo

[2012-12-11 22:50] #13 closed, assigned to adrienthebo

[2012-12-19 03:26] saz opened #18 "Multiple 'up' lines in options hash"
Debian allows multiple 'up' lines in iface stanza. They will be executed in the order written to the file.

But this isn't possible as there can only be one key in the options hash.

[2012-12-30 21:35] #1 closed, assigned to nobody

[2012-12-30 21:35] #2 closed, assigned to adrienthebo

[2012-12-30 21:35] #15 closed, assigned to adrienthebo

[2013-01-06 11:39] rnilssen opened #19 "No ipip tunnel support? Nor no IP alias support?"
Seems I cannot setup IPIP tunnel interfaces, this is often needed with IPVS.

As an alternative I was looking to set up alias interfaces, but seems I cannot?

[2013-01-06 23:42] adrienthebo opened #20 "Request for comments: static routing configuration"
One of the features that has been asked for frequently is support for static network routes. This is a feature I hope to add, but I would like feedback on how the type should be implemented - that is, what are the types of information needed in the type. For example:

[code]

This is one suggested interface for the network_route type. What I need are example types like this and the expected output

[2013-01-10 05:56] robertstarmer opened #22 "auto line is removed with reimplement_debian_parsing"
In deploying a full replacement of the interfaces file with 3 interfaces defined, I either loose the eth1 "auto" inclusion, or loose all my interfaces in the auto line post puppet run.

(private_interface is eth0, external_interface is eth1)

  network_config { "$::private_interface":
    ensure  => 'present',
    hotplug    => false,
    family  => 'inet',
    ipaddress => "$::controller_node_add

[2013-01-21 04:43] #22 closed, assigned to nobody

[2013-01-24 05:30] #18 closed, assigned to nobody

[2013-02-04 23:30] adrienthebo opened #24 "umask for built module is broken"
The umask used while running `puppet module build` is used in the tarball and can mean that the installed files are unreadable by the puppet user if installed by root. There should be some sort of rake task to ensure that the module is built with the right umask.

[2013-02-25 21:04] adrienthebo opened #25 "Spec failures on redhat"
<pre>
Failures:
  1) Puppet::Type::Network_config::ProviderInterfaces when formatting writing iface blocks should add all options following the iface block
     Failure/Error: content.split('\n').find {|line| line.match(/iface eth0/)}.should be_include(block)
       expected include?("iface eth0 inet static\naddress 169.254.0.1\nnetmask 255.255.0.0") to return true, got false
     # ./spec/unit/pr

[2013-02-27 01:15] vjanelle opened #26 "debian interfaces parser fails if two spaces are between 'iface' and the device"
It looks like the debian interfaces file can't handle:

[code]

puppet resource network_config will throw

Error: Could not run: Malformed debian interfaces file; cannot instantiate network_config resources

[2013-02-27 18:21] #26 closed, assigned to nobody

[2013-03-04 20:08] #25 closed, assigned to nobody

[2013-03-20 08:31] danfruehauf opened #29 "Facts for default interface"
Hey there, I have 4 facts that are relatively useful and I thought of joining them to this repository instead of opening a new one with just the facts.

The facts they expose are:
- defaultgw_gw_address - default gateway address
- defaultgw_interface - main interface on machine (one that is used with the default gateway)
- defaultgw_address - address of main machine interface (one that is used on

[2013-03-20 16:52] ericsakowski opened #30 "rspec failures on RHEL6"
[root@puppetski puppet-network]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.3 (Santiago)
[root@puppetski puppet-network]#
[root@puppetski puppet-network]# git pull
Already up-to-date.
[root@puppetski puppet-network]# git log -1
commit a137f37154c98f3ab42522a1ecd50fa10770b048
Author: Adrien Thebo git@somethingsinistral.net
Date:   Wed Mar 13 22:29:58 2013 -0700

[code]

[root

[2013-03-25 14:02] wywerne opened #32 "bond config in CentOS 6 work with this"
Hello,

		# Bonded master interface - static:
		# local
		network::bond { 'bond0':
			onboot			=> 'yes',
			netmask			=> '255.255.0.0',
			ipaddress		=> '172.16.1.101',
			family			=> 'inet',
			ensure			=> present,
			method			=> 'none',
			gateway			=> $defaultgateway,
			bondingopt	=> 'mode=balance-rr miimon=100',
			hotplug			=> 'no',
			slaves 			=> ['eth0','eth3',],
		}
		# redondance
		netw

[2013-03-28 06:49] #24 closed, assigned to nobody

[2013-03-28 06:50] #20 closed, assigned to nobody

[2013-04-01 22:41] adrienthebo opened #33 "spec fixture files contain illegal path characters on Windows"
Windows can't use `:` in file paths, which means that Bad Things (TM) happen when the repo is cloned down to Windows. The spec filenames should be sanitized.

[2013-04-23 01:38] #33 closed, assigned to nobody

[2013-04-23 01:39] #19 closed, assigned to nobody

[2013-05-02 17:45] #29 closed, assigned to nobody

[2013-05-02 19:01] wolfspyre opened #36 "Network module responds poorly to ifcfg-NNN.bak files"
...
notice: /Stage[main]/Rsyslog/Exec[Stop syslog]/returns: executed successfully
notice: /Stage[main]/Network/Network_config[eth2]/ipaddress: ipaddress changed '' to '10.10.10.114'
notice: /Stage[main]/Network/Network_config[eth2]/netmask: netmask changed '' to '255.255.255.0'
notice: /Stage[main]/Network/Network_config[eth2]/method: method changed 'dhcp' to 'static'
notice: /Stage[main]/Network/

[2013-05-20 17:53] #36 closed, assigned to nobody

[2013-05-20 20:41] ddcrjlalumiere opened #38 "Bogus error - Could not evaluate: Unable to support multiple interfaces in a single file"
OS: CentOS 6.3
Puppet version (client): 2.7.17
Puppet version (master): 3.0.0
puppet-network version: 0.4.0

I got the following error in my Puppet logs, but the interface is only defined once in the manifest. This is an intermittent error, it does not occur in a reproducible fashion AFAICT.

<pre>
Sun May 19 03:39:24 +0000 2013 /Network_config[lo:6] (err): Could not evaluate: Unable to support mu

[2013-05-22 05:04] Aethylred opened #39 "No longer finding interface config scripts in CentOS"
Since the resolving #36 and #37 the network module no longer seems to be detecting interface configuration files in CentOS 6.4.

[code]

[2013-05-29 02:06] #39 closed, assigned to nobody

[2013-05-30 06:37] jarshwah opened #41 "Support ONPARENT option for aliases"
Fairly self-explanatory I guess. There's currently no support built in for the ONPARENT optiion of an interface alias. Useful for floating IP type vips that shouldn't automatically come up when the parent does.

[2013-05-30 22:39] #38 closed, assigned to nobody

[2013-05-31 14:46] ddcrjlalumiere opened #42 "Interfaces are "created" every puppet run"
For some reason every run of Puppet the /etc/sysconfig/network-scripts/ifcfg-* files managed by this module are "created", even if they already exist. This seems to be caused by the order of the lines in the file changing each time it is generated?

Here's a diff of one of the interface files showing how it changed between runs, although the key value pairings are all the same.
<pre>
$ sudo diff -

[2013-06-17 13:07] joschi opened #43 "network_* facts don't work on OpenVZ"
If OpenVZ (or Virtuozzo) is being used for virtualization the facts `network_nexthop_ip`, `network_primary_interface`, and `network_primary_ip` do not work because the default route is set to a (virtual) ethernet device instead of an IP address.

[code]

This leads to warnings on every Puppet run:

[code]

[2013-06-18 00:24] #41 closed, assigned to nobody

[2013-06-26 02:51] nzhook opened #44 "Malformed debian interfaces file - duplicated iface lines?"
We have an issue where the network_config is giving a malformed debian interfaces file when reading the interfaces file.

Ive added some additional debugging into the code and narrowed it down to the code thinking it has seen an interface line twice
[code]
However, the line only occurs once in the file but seems to be seen twice.

It also does not happen on a regular basis, running it manually usi

[2013-07-01 20:00] bitglue opened #45 "ifupdown-extras required on Debian, but not installed"
If [`ifupdown-extras`][1] isn't installed, then the `network_route` provider [will refuse to run][2]. This is painfully hard to figure out. The existence of `/etc/network/routes` in Debian is [hardly documented at all][4], and the only mention of it in puppet-network is [a comment in the implementation][3].

  [1]: http://packages.debian.org/squeeze/ifupdown-extras
  [2]: https://github.com/adrien

[2013-07-22 19:57] jhoblitt opened #48 "network_config should support vlan interfaces"
It's highly desirable to be able to configure tagged vlan interfaces for a multiple of reasons but in particular when configuring a host to act as a Linux kernel based hypervisor.  In the specific hypervisor scenario (under linux) there is normally a chain of interfaces like:

[code]

or

[code]

The `$::osfamily == debian` and `redhat` configuration file approach for modeling the the relationship

[2013-08-05 04:06] sepulworld opened #50 "Unable to find property, Puppet 3.2.3"
Tested:

network_config { 'eth1':
  ensure    => 'present',
  family    => 'inet',
  ipaddress => '169.254.0.1',
  method    => 'static',
  netmask   => '255.255.0.0',
  onboot    => 'true',
}

within my nodes.pp file under my host.

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not autoload puppet/type/network_config: no such file to load -- puppet/property/bool

[2013-08-07 21:11] pieterlange opened #53 "Readme.md: network_route requires 'network' parameter"
Readme.md needs some additions in order to prevent stupid people like me from scratching their head at error messages like:
Error: /Stage[main]/Profiles::Portal::Webserver/Network_route[10.0.0.0]: Could not evaluate: 10.0.0.0 does not have a network.

[2013-08-07 21:27] pieterlange opened #54 "Skip munge in full netmask addresses"
The parser tries to evaluate full IP netmask addresses but can only take in CIDR notation.

Skip the IPAddr.new('255.255.255.255').mask(value.strip.to_i).to_s line in lib/puppet/type/network_route.rb if netmask matches the IP regex.

[2013-08-07 21:32] #54 closed, assigned to nobody

[2013-08-14 02:45] #50 closed, assigned to nobody

[2013-09-09 09:51] KlavsKlavsen opened #58 "default network example does not work on RHEL"
If I do:

[code]

I get this in /etc/sysconfig/network-scripts/route-eth0:

[code]

Which doesn't actually work :(

The only valid format for that file, that I know of, is:
[code]

and unlike what I'd normally expect (like what firewall module does) - the routes are NOT setup at puppet agent runtime - but one needs to reboot (or reload networking).

The resulting routes, after reboot, looks like t

[2013-09-24 22:28] Aethylred opened #60 "Malformed debian interfaces file error when running puppet daemon"
I'm observing some unusual behavior with Puppet is version 2.7.18 running on Ubuntu 12.10.

When puppet is run manually with `puppet agent -t` or if the puppet daemon is restarted then the manifests runs fine, but after a few runs it starts throwing:

[code]

I suspect on machines configured to run the puppet agent from a cron job will _not_ throw this error.

This is similar to what's reported in

[2013-09-27 22:27] #43 closed, assigned to nobody

[2013-09-27 23:36] #30 closed, assigned to nobody

[2013-10-24 14:37] mmoll opened #61 "setting the default route on Debian"
I'm using the following manifest:

[code]

In  /etc/network/routes the route is getting added twice:

[code]

And on every puppet run I'm getting:

[code]

[2013-11-19 16:06] #61 closed, assigned to nobody

[2013-11-21 19:00] danzilio opened #63 "Overwriting behavior"
Here's my scenario. I have a newly provisioned server with the loopback interface and em4 defined in /etc/network/interfaces. Puppet has never run on this server. I install puppet and it checks in with my puppet master and finds this in its catalog:

[code]

Sure enough, puppet runs and finds some things about this interface that need to change:

[code]

But, notice, it hasn't changed the onboot s

[2014-02-05 15:46] KlavsKlavsen opened #64 "network_route does not catch nor fix invalid routes"
I had accidently set:
other routes..  and then:
    network_route { '10.97.0.0/16':
      ensure    => 'present',
      gateway   => '192.168.22.50',
      interface => 'eth0',
      netmask   => '8',
      network   => '10.97.0.0'
    }

Which wrote this in the route-eth0 file:
10.0.0.0/255.0.0.0 via 192.168.22.1 dev eth0
10.0.0.0/255.255.0.0 via 192.168.22.50 dev eth0
192.168.0.0/255.255.0.0 via

[2014-02-14 15:58] christophmerz opened #66 "network_route Error on CentOS"
The first run of network_route on CentOS create a file in /etc/sysconfig/network-scripts with name
route-eth0
with some comments and all routes I set in the manifest. The 2nd run of the puppet agent
brings
Notice: /Stage[main]/Servernetz::Routen/Network_route[10.0.38.0]/ensure: created
Error: /Stage[main]/Servernetz::Routen/Network_route[10.0.38.0]: Could not evaluate: undefined method `[]' for ni

[2014-03-12 18:53] guimaluf opened #68 "Reconfigure option does not work"
If I set `reconfigure => true,` in *network_config* class nothing happens. It should restart the networking service, or at least make a ifdown/ifup.

[2014-03-24 12:27] ingardm opened #69 "/etc/network/routes updated on every run"
I've got the following config:
       network_route { 'default':
               ensure    => 'present',
               gateway   => 10.0.0.2,
               interface => 'bond0',
               netmask   => '0.0.0.0',
               network   => 'default',
       }

resulting in the following file:
root@myserver:~# cat /etc/network/routes
# HEADER: This file is is being managed by puppet. Changes

[2014-04-26 20:51] ratajczak opened #70 "Could not autoload network_config"
I'm just starting with puppet, I'm not using puppet master, I just execute puppet apply directly on the node.
I've tried to add simple network_config to my node but puppet apply fails with:

Could not autoload network_config: no such file to load -- puppet/property/boolean at...

I'm using puppet 2.7.23 and librarian to manage modules, 'librarian-puppet show' outputs:
adrien/boolean (1.0.1)
adrien

[2014-05-11 16:52] #70 closed, assigned to nobody

[2014-06-11 14:58] naevtamarkus opened #71 "Remove dependencies"
Hi,

I am wondering if the dependencies to adrienthebo/puppet-filemapper and adrienthebo/puppet-boolean are part of the future, or the past of this module. Is this the direction you want to move towards, or something you would get rid of at some point?

I mean, you don't seem to solve anything that can't be solved with templates, and having additional dependencies make this module less clean... ho

[2014-06-11 16:35] #71 closed, assigned to nobody

[2014-07-25 13:26] kotowicz opened #77 "Could not autoload puppet/provider/network_config/interfaces: no such file to load -- puppetx/filemapper"
I installed the package by calling `puppet module install adrien-network`
I've added a simple static entry to a node:

[code]

deployment fails with the following error:

[code]

`filemapper` is installed inside `/etc/puppet/modules/filemapper`

I'd be happy to help debug the problem. I'm using puppet 3.4.3 & puppet-master 3.4.3.

List of installed packages:
    $ sudo puppet module list
    /etc/

[2014-07-25 15:53] kotowicz opened #78 "create option to overwrite /etc/network/interfaces explicitly"
puppet-network tells me that by default it will keep and not overwrite interfaces that are not being managed by puppet

    # HEADER: This file is is being managed by puppet. Changes to
    # HEADER: interfaces that are not being managed by puppet will persist;
    # HEADER: however changes to interfaces that are being managed by puppet will
    # HEADER: be overwritten. In addition, file order is

[2014-08-06 19:35] gonzalobrandan opened #79 "It runs but doesn't do anything on the agent"
Hi, we tested against debian servers but doesn't create or replace the /etc/network/interfaces file. Our configuration is

Puppet master 3.4.3 (on Ubuntu 14.04)
Puppet agent 2.7.23 (on Debian 7.5)

with this configuration on the node

network_config { 'eth0':
        ensure  => 'present',
        family  => 'inet',
        ipaddress => '172.16.0.120',
        method  => 'static',
        netmask =

[2014-08-25 14:29] boesing opened #80 "Vagrant + Puppet"
Hey there,

I cannot use your plugin in combination with vagrant.
After vagrant provision, the /etc/network/interfaces file gets totally overridden which ends up with a malformed interfaces file.
Vagrant adds some kind of wrapper around its configuration:

`# VAGRANT-BEGIN`
`# VAGRANT-END`

Well - after provisioning with puppet, the file doesnt have these comments and on the next vagrant up, vagra

[2014-09-14 15:59] igalic opened #83 "no support for pointopoint and gateway"
[code]

[2014-10-10 12:57] ciroiriarte opened #86 "Interface config created but device is not up"
Hi!, I'm configuring a new loopback alias, the device is created but it's never started. I have to do a manual ifup to make the IP available.

SO: RHEL6
Puppet: 3.7.1
adrien-network: 0.4.1

File generated as:

IPADDR=x.x.x.x
BOOTPROTO=static
HOTPLUG=yes
DEVICE=lo:1
ONBOOT=yes
NETMASK=255.255.255.255

Resource:

network_config { "lo:1":
                ensure          => "present",

[2014-10-10 13:01] ciroiriarte opened #87 "State: present --> absent --> present not possible"
Hi!, I'm configuring a new loopback alias, the device configuration file is created, change the state to absent zeroes the file on the next run (doesn't delete it). If I want to enable that alias again (changing its state), I get this errors:

Error: Could not prefetch network_config provider 'redhat': No resource and no name in property hash in redhat instance
Notice: /Stage[main]/anycast::Aliase

[2014-10-20 15:23] mvisonneau opened #88 "Provider not working on Ubuntu 14.04 LTS ?"
I am unable to get it working on an Ubuntu 14.04 LTS :

_puppet resource network_route ensure=present netmask=16 interface=eth0 network=10.2.0.0 gateway=10.1.0.1_

[code]

Forcing the provider :
_puppet resource network_route ensure=present netmask=24 interface=eth0 network=10.2.0.0 gateway=10.1.0.1 provider=routes_

[code]

Does someone face the same issue ?

[2014-11-04 09:01] #88 closed, assigned to nobody

[2014-11-26 11:27] stzilli opened #89 "network_config redhat provider fails in case DEVICE parameter is not present in ifcfg-* file"
network_config parses all the ifcft-* files before applying any change to any of them. In case one any of these file have no DEVICE property the parsing will fail and puppet run will consequently fail. I've seen some of these cases in CentOS 7 machines.

On my side I applied the following patch but I can say it's not very elegant.

[code]

[2015-02-03 21:27] fschaer opened #92 "cannot add ipv6 address on debian"
Hi,

I'm evaluating your module to see if I could use it both on debian and redhat. And If I could at the same time enable IPv6.

Unfortunately, it seems that adding an IPv6 address in the debian interfaces file does not work because this is duplicating the interface name :

adding the following :

    iface eth0 inet6 static
        address 2001:db8::c0ca:1eaf
        netmask 64
        gateway 2

[2015-02-04 10:15] stzilli commented on #89
PR #90 contains the patch.

[2015-02-06 10:26] igalic commented on #92
kinda surprised i haven't run into this.

[2015-02-20 14:07] bodepd commented on #92
I've run into the same issue, but in my case, it was trying to use the module for an interface where both ipv4 and ipv6 are defined (the default in rackspace cloud)

The offending line is:

[code]

and the resulting error is:

[code]

[2015-02-24 10:12] igalic commented on #83
this can now be closed, it's fully supported through `options => { }`

[2015-02-24 10:12] igalic commented on #83
this can now be closed, it's fully supported through `options => { }`

[2015-02-24 10:12] #83 closed

[2015-02-24 10:16] igalic commented on #92
we'll have to add the inet-family to the namevar.

[2015-02-24 13:36] bodepd commented on #92
I'm working on a partial fix that will probably never get merged (b/c the real fix sounds really complicated). It basically just ignores ipv6 entries when there are duplciates. I'll share when I'm done, but this is more of a temporary fix so that I can move on ;)

[2015-02-24 13:59] igalic commented on #92
yea, i looked into a quick-fix myself, however, i think we'll have to extract the interface into its own variable, that is not `name`…

[2015-03-10 14:50] confiq commented on #58
I can confirm it's working well...
It's been one year and half and nobody merge this

[2015-03-10 15:06] adrienthebo commented on #58
@confiq if the pull request worked for you, could you update the pull request with tests and rebase it so that it can be merged?

[2015-03-10 15:08] adrienthebo commented on #78
As @pieterlange noted this can be done through resource defaults; closing this out.

[2015-03-10 15:08] #78 closed

[2015-03-10 15:10] adrienthebo commented on #32
#49 fixed the issue with file permissions; I want the network::bond type be generic and extensible so I don't want various parameters like this violating encapsulating and exposing redhat specific behavior. Closing.

[2015-03-10 15:10] #32 closed

[2015-03-10 15:11] #80 closed

[2015-03-10 15:11] adrienthebo commented on #79
Closed for lack of activity.

[2015-03-10 15:11] #79 closed

[2015-03-10 15:13] adrienthebo commented on #77
Per the dependencies section of the readme (https://github.com/puppet-community/puppet-network#dependencies) you need to be able to pluginsync the master for this to work; the error that you're seeing indicates that you have faulty DNS or Puppet configuration. Make sure that pluginsync works and that should fix your issue.

[2015-03-10 15:14] #89 closed

[2015-03-10 15:28] confiq commented on #58
@adrienthebo: are we talking about PR https://github.com/puppet-community/puppet-network/pull/62 ?
It's not mine PR so I can't rebase it but if needed I can make new PR.
About tests, It passes all tests so I don't see a problem merging it. Unless you want to write tests for new check new CIDR notations

CC @gwarf

[2015-03-10 18:21] adrienthebo commented on #58
A new PR would be fine; I'm fine with merging code to fix this issue but the existing PR has merge conflicts. Since there is a behavior change, it does need tests before it gets merged.

[2015-03-10 18:21] adrienthebo commented on #58
And if @gwarf is willing to continue working it then superb, but if that doesn't work out I'm happy to accept PRs from other locations.

[2015-03-12 12:40] confiq commented on #58
Ok,
I've been using HEAD version and it's working fine.
I can't confirm this bug anymore.

[2015-03-12 13:20] igalic commented on #58
okay, thank you @confiq!

[2015-03-12 13:20] #58 closed

[2015-04-08 10:03] jordiclariana opened #99 "Debian multiple addresses on same iface"
Hi,

Is there any plan to implement for debian the multiple addresses per interface as it is specified here (iproute2 method)?
https://wiki.debian.org/NetworkConfiguration#Multiple_IP_addresses_on_One_Interface

Or the official method is to add up/down options (manual approach) or maybe the legacy?

Thanks.

[2015-04-08 12:40] dalen opened #100 "Add support for `--tcp-mss` option"
There should be a property for the MSS, at the moment the module fails to parse any rule containing the `--set-mss` argument.

[2015-04-08 14:03] jhoblitt commented on #100
@dalen This is not the droid your looking for?

[2015-04-08 14:14] jhoblitt commented on #99
@jordiclariana Secondary IP addresses should work now with interface aliases.  Ie., `eth0:0`  There is a full fixtures test for parsing EL interface aliases https://github.com/puppet-community/puppet-network/blob/master/spec/fixtures/provider/network_config/redhat_spec/network-scripts/ifcfg-eth0:10000000 but not an equivalent one for Debian.  It should be fairly easy to add a fixtures file and a t

[2015-04-08 14:16] jhoblitt commented on #87
This should have be resolved by #90.

[2015-04-08 14:25] dalen commented on #100
yeah, was meant to be filed on the firewall module. closing

[2015-04-08 14:25] #100 closed

[2015-04-09 07:55] igalic commented on #99
so, basically, the reason why this right now, cannot work as is with the official method, is the same as: https://github.com/puppet-community/puppet-network/issues/92

[2015-04-30 12:53] ebertoncello opened #101 "Add support for debian 8 interfaces management / split interfaces file into interfaces.d"
Hi,
Debian 8 add the possiblity to split interfaces file.
In /etc/network.interfaces file there is a new line:
source /etc/network/interfaces.d/*
You can add as many file as interfaces you have with their configuration.
By the way this line prevent the usage of this puppet module: "Malformed debian interfaces file" (remove the line solve the problem)

Is this feature will be integrated ?
Thanks

[2015-04-30 16:02] jhoblitt commented on #101
A PR to add that functionality would likely be accepted.  It sounds like that should be a subclass of the debian provider.

[2015-05-05 13:31] rnelson0 commented on #77
I see this during an rspec run, which I wouldn't expect to have anything to do with a master.
[code]
After the first autoload error the remaining routes don't complain about it. Kind of weird. Fixtures and filesystem check out.
[code]
Is this related or new behavior?

[2015-05-05 14:58] rnelson0 commented on #77
When I push the change to the master and run on an agent in noop mode, I get an error but it looks like it wants to try and add the routes. A little concerned about taking noop off, though:
[code]

[2015-05-06 10:34] igalic commented on #77
as a first guess, i would've suspected rspec-puppet, but who knows.

[2015-05-06 12:43] rnelson0 commented on #77
Good and bad news! The good: this appears related to LOAD_PATH and https://github.com/rodjek/rspec-puppet/pull/237. This can be tested by modifying a few files (two files in my use case - anywhere there's a "require 'puppetx/filemapper'" line) and telling them where to find puppetx/filemapper. Example:

[code]

The bad news: that's clear as mud and only required for rspec-puppet - until the other

[2015-05-06 12:53] rnelson0 commented on #77
A better short term fix is to add this to spec/spec_helper.rb
[code]
It's still a bit ... weird ... but has less side effects.

[2015-05-06 13:15] ffrank commented on #77
As far as workarounds go, this one looks alright to me.

[2015-05-06 15:13] igalic opened #102 "make a fresh release of this module"
The last release of this module has been… quite some time ago.
it would be nice if we changed that.

Especially convenient for people who use r10k ;)

[2015-05-06 15:17] adrienthebo commented on #102
Would you be willing to update the CHANGELOG and bump the version and submit a PR for that? If you do that I'll happily do the release work.

[2015-05-06 15:37] rnelson0 opened #103 "Push a new version to the forge"
The latest version on the forge is adrien/network v0.4.1 from Aug 2013. There have been numerous patches since then. Can a new version be created and uploaded to the Forge? Thanks!

[2015-05-06 16:00] rnelson0 commented on #103
Dupe of #102, @igalic beat me by a few minutes cause I forgot to hit submit :(

[2015-05-06 16:00] #103 closed

[2015-05-08 15:50] igalic commented on #102
absolutely.
@adrienthebo should we move this into the puppet namespace on the forge?
if so, i can make two pull requests.

one that deprecates this module on the forge, and one to reincarnate it as puppet-network.

[2015-05-08 16:22] adrienthebo commented on #102
All to to you buddy, I've got no strong feelings either way and trust the
puppet-community folks to do the right thing.  :)

On Fri, May 8, 2015, 08:50 Igor Galić <notifications@github.com> wrote:

[2015-05-11 07:01] oferzi23 opened #104 "network _route error on oralinux(redhat)"
hi,
when adding a resource for default route i get an error, below details:

resources:
[code]
log:
[code]

tried running in debug mode but no relevant info came up.

any ideas?

[2015-05-12 13:28] ffrank commented on #104
Please run with `--trace` instead of `debug` and share at least the top of the resulting trace. Thanks!

[2015-05-13 23:10] ITBlogger commented on #86
Yeah, I'm having same issue with eth1.

[2015-05-15 15:16] alvagante commented on #86
The original gur report refers to adrien-network can you can confirm that you are using example42 network module?
Also please provide:
- output of facter
- the code and data you are using, referring to this module
- the module version you are using (taken from github, puppet forge...)

[2015-05-17 08:30] oferzi23 commented on #104
Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Info: Caching catalog for <###server_name###>
Info: Applying configuration version '1431851153'
Notice: /Stage[main]/Interfaces::Interfaces::Redhat::Fat-dbstage1/Network_route[default]/ensure: created
Error: /Stage[main]/Interfaces::Interfaces::Redhat::Fat-dbstage1/Network_route[default]: Could not evaluate: undefined method

[2015-05-18 18:31] ITBlogger commented on #86
Hi,

Attached is scrubbed output of facter.
Code I am using is commit 'a2e2574ad83a2fc0d56ea8cb584b4cc728092b99' from
https://github.com/puppet-community/puppet-network.git

Thanks,

Alex

On Fri, May 15, 2015 at 8:16 AM, Alessandro Franceschi <
notifications@github.com> wrote:

architecture => x86_64
augeasversion => 1.1.0
blockdevice_sda_model => SYMMETRIX
blockdevice_sda_size => 85900001280
blo

[2015-05-27 20:09] igalic commented on #86
scrubbed…

[2015-05-27 22:44] ITBlogger commented on #86
Scrubbed...redacted...removed possibly sensitive info.

On Wed, May 27, 2015 at 1:09 PM, Igor Galić <notifications@github.com>
wrote:

[2015-05-29 22:12] ffrank commented on #86
Honestly, looking through the type and providers for `network_config`, I have no idea how live management is supposed to work at all. It seems to me that all we currently do is managing config files.

[2015-06-03 09:56] ffrank commented on #104
Thanks!

This is [something funny](https://github.com/puppet-community/puppet-network/blob/master/lib/puppet/provider/network_route/redhat.rb#L87) from the `redhat` provider for `network_route` then.

Not quite sure how these methods are spawned in the first place. Is this some sort of `FileMapper` magic, @adrienthebo ?

[2015-06-03 16:07] adrienthebo commented on #104
https://github.com/adrienthebo/puppet-filemapper/blob/master/lib/puppetx/filemapper.rb#L207-L227 creates methods for each property defined on the type, which should be created because of https://github.com/puppet-community/puppet-network/blob/master/lib/puppet/type/network_route.rb#L68-L73 - or at least that's my guess.

[2015-06-03 19:55] ffrank commented on #104
Awesome, thanks for the pointers.

I'm in no good position to reproduce this but I **think** I spotted the typo causing this issue.

I took the liberty to push a fix right to master. @oferzi23 can you run from master once to see if the issue is indeed resolved?

[2015-06-04 11:48] ffrank commented on #102
:+1: for @igalic going ahead.

I was confused for ~5min yesterday as to where I need to look in the Forge for this one.

[2015-06-07 10:50] oferzi23 commented on #104
solved.

thanks

[2015-06-07 17:07] ffrank commented on #104
Thank you for reporting.

Before we close - @jhoblitt do you think this warrants a bug fix release? There are some PRs in flight that might be worth holding out a few days for (I'm looking at you #62).

[2015-06-07 19:45] jhoblitt commented on #104
@ffrank I think its worth an immediate patch release since the fix was trivial.

[2015-06-07 23:14] ffrank commented on #104
Okay, cool. This is a manual process for this module, right? Anything I can do to assist?

[2015-06-16 12:42] JimPanic commented on #102
What is the progress on this?

[2015-06-16 19:17] adrienthebo commented on #102
As soon as someone can prepare the module for release, eg updates the changelog and module version, I'll push the release. I need someone else to do that though as I need someone other than myself to take more ownership of this module.

[2015-06-16 19:56] ffrank commented on #102
Good call. I'll look into it.

[2015-06-17 07:46] JimPanic commented on #102
:+1: :+1:

Can I help in any way further?

[2015-06-17 07:52] ffrank commented on #102
@JimPanic well any feedback on PRs #105 and #106 can certainly be helpful. Apart from that, we're nearly good.

[2015-06-17 08:34] JimPanic commented on #77
Invoking the tests like this works for me:

[code]

[2015-07-13 19:52] jdetroy commented on #66
Hello,
I've bumped into an issue today where I can't modify or delete an existing route_config.
The stack trace of the puppet agent run is below
 puppet agent -t --trace
Info: Retrieving pluginfacts
Info: Retrieving plugin
....
Info: Loading facts in /var/lib/puppet/lib/facter/fact1.rb
Info: Loading facts in /var/lib/puppet/lib/facter/fact2.rb
Info: Caching catalog for host.example.com
Info: Apply

[2015-07-13 19:54] jdetroy commented on #66
Forgot to mention
puppet-3.6.2-1.el6.noarch
CentOS release 6.6 (Final)
ruby 1.8.7 (2013-06-27 patchlevel 374) [x86_64-linux]

[2015-07-13 20:13] darkpixel commented on #44
I'm running into this too.  Here is my interfaces file:
[code]

Here is the output of puppet:
[code]

The interfaces file seems valid to me, and the system boots properly with networking.

[2015-07-17 09:50] thabend0r commented on #102
any schedule know for realease to the forge?

right now: https://forge.puppetlabs.com/puppet/network

is not available?

[2015-07-17 10:40] igalic commented on #102
should we prioritize https://github.com/puppet-community/plumbing/issues/3 so we can streamline this?

[2015-07-19 01:11] robbat2 opened #115 "Failing to create dummy0 device on RHEL6"
[code]

[2015-07-19 22:07] robbat2 opened #116 "vlan regex misses MANY 1000-3000, and vlans ending in [6-9] above 4000."
The vlan match fails on vlans numbered 40[0-8][6-9]

Here's the buggy code:
vlan_range_regex = %r[\d{1,3}|40[0-9][0-5]]

Correct it to:
vlan_range_regex = %r[[1-3]?\d{1,3}|40[0-8]\d|409[0-5]]

[2015-07-25 06:53] pjfoley commented on #86
Not sure if it helps but I came across another module which uses types and providers @inkblot it seems that his module does bring an interface up.  Not sure if it helps.

https://github.com/inkblot/puppet-network/blob/master/lib/puppet/provider/network_interface/ifupdown.rb#L170

[2015-07-25 13:07] inkblot commented on #86
It's true, my `ifupdown` provider uses `flush` to take the interfaces down and brings them up. It mostly works. It's totally possible to put your system in a bad state. Caveat executor.

[2015-07-29 17:37] jcharaoui commented on #44
I think the problem is with the parser not recognizing the `source /etc/network/interfaces.d/*` directive.

[2015-08-07 12:59] igalic commented on #115
[code]

interesting.

[2015-08-07 14:04] igalic commented on #116
fixed in #116

[2015-08-07 14:04] #116 closed

[2015-09-15 06:46] fskale commented on #9
Hi,
are there any plans to implement this feature ?
This thread is more than a year old, so perhaps there are some changes that allow e.g:
auto eth4
iface eth4 inet dhcp
iface eth4 inet6 auto
Kind regards
Franz

[2015-09-15 06:59] fskale opened #121 "No inet6 method auto"
Hi,
only want to inform, that the auto method is not implemented right now.
ipv6 with router advertisement is a standard and wide spread.
Are there any plans to implement:
auto eth0
iface eth0 inet6 auto

Kind regards
Franz

[2015-09-15 13:02] fskale commented on #121
Hi,
because i needed a hotfix, i changed the source, so that inet6 auto is possible.
Also i wanted to have my source|source-directory directive not to be deleted until there's a working implementation which honors /etc/network/interfaces.d/* and dual proto stack (inet4 and inet6).
Now i can leave the standard ipv4 config in /etc/network/interfaces.d (which will not change) and do the special ipv6

[2015-09-21 12:38] igalic commented on #121
@fskale would you mind submitting that as pull request?

[2015-09-21 12:39] igalic commented on #9
:+1:

[2015-11-01 20:09] madmac2501 opened #124 "Git information is included in tar.gz"
Hi,

inside the .tar.gz provided to download there are .git files

For example

adrien-network-0.4.2/spec/fixtures/modules/stdlib/.git/logs/
adrien-network-0.4.2/spec/fixtures/modules/stdlib/.git/logs/HEAD
adrien-network-0.4.2/spec/fixtures/modules/stdlib/.git/logs/refs/
adrien-network-0.4.2/spec/fixtures/modules/stdlib/.git/logs/refs/heads/
adrien-network-0.4.2/spec/fixtures/modules/stdlib/.git/l

[2015-11-02 18:49] igalic commented on #124
does this still occur with the new puppetcommunity releases?

[2015-11-06 21:21] madmac2501 commented on #124
There is a link in https://forge.puppetlabs.com/adrien/network/readme to this web page
https://forge.puppetlabs.com/puppet/network but the web is not available

Where is located the community release for network module?

[2015-11-07 08:51] igalic commented on #124
@madmac2501 i believe we still haven't released :(
iirc, @jyaworski, was recently working on getting the module in shape for our modulesync

[2015-11-17 15:37] nanliu opened #127 "Travis CI lockup"
Seems like the last merge on master locked up travis-ci:
https://travis-ci.org/puppet-community/puppet-network

Specifically this job is running even after exit 0:
https://travis-ci.org/puppet-community/puppet-network/jobs/91607187

Should we kill it since it's queuing up everything else?

[2015-11-17 16:19] igalic commented on #127
@nanliu looks finished to me, and looks like it only took 2min?

[2015-11-17 16:57] nanliu commented on #127
hmm, when the whole job finished looks like it revised the running time, should of took a screenshot.

[2015-11-17 16:57] #127 closed

[2015-11-17 17:12] igalic commented on #127
travis is wonky often :(
but it's all we have now…
maybe it'd be less wonky if we had :moneybag:…

[2015-11-18 08:47] rski opened #128 "ipaddress gem requirement missing from readme"
As of [this](https://github.com/puppet-community/puppet-network/commit/729fa3d093c04d3347947e6d7e9dd94b4f5add06) pull request, puppet-network uses ipaddress.

Not having it installed on the puppet agent will cause puppet agent -t to fail with an error like

` Could not autoload puppet/type/network_config: cannot load such file -- ipaddress`

running `sudo gem install ipaddress` on the agent fixes

[2015-11-18 08:58] rski commented on #128
Also, maybe it's required on the master too. I'll look into this a bit more and make sure I know what is needed where, but this gem is definitely required somewhere at some point for puppet-network to work.

[2015-11-18 12:54] rski opened #129 "require 'ipaddress' breaks puppet runs"
This is a follow up to issue #128, as it turned out to be more complicated than I thought.

`ipaddress` is a library that is not present by default, yet it is required by `puppet-network/lib/puppet/type/network_config.rb`. Most nodes will not have it by default.

It would be nice if it could be installed with puppet using something like
`package { 'ipaddress' : ensure => present, provider => gem,

[2015-11-18 13:02] igalic commented on #128
that should probably have an `autorequire`
…but then again, an autorequire isn't gonna really install things…

but another question: how, exactly, do you run a puppet infra without the `ipaddress` gem??

[2015-11-18 13:29] rski commented on #128
@igalic well, we use the `ipaddress` gem now.

still, I'd like to be able to able to install `ipaddress` on a node using puppet rather than some other way before puppet runs. Or this could a horrible hack that should be avoided and the gem should be installed using some other way after all.

[2015-11-18 13:43] rski commented on #128
It doesn't look like what I described in #129 will work so I might just close that issue. However I think that the docs should explicitly say that the `ipaddress` gem is required.

[2015-11-18 13:52] rski commented on #129
this is not quite possible and it is probably cleaner to just install the gem some other way

[2015-11-23 09:53] #128 closed

[2015-11-26 10:42] rski commented on #77
This seems to be [this puppet bug](https://tickets.puppetlabs.com/browse/PUP-4450), which has existed for a fair amount of time. If I understood it correctly, ```require 'puppetx/filemapper'``` is not enough to make puppet put filemapper in the $LOAD_PATH.  Filemapper only happens to be there sometimes by chance.

My guess is if filemapper were shipped as part of puppet-network it would load it ev

[2015-11-26 15:56] adrienthebo commented on #42
Issue hasn't seen an update in 2 years, closing for lack of activity.

[2015-11-26 15:56] #42 closed

[2015-11-27 10:59] njm506 commented on #77
It is indeed that bug.  Please upvote it, as nobody seems to be paying it any attention at the moment.

The problem is that $LOAD_PATH isn't set up before types/providers are loaded, so they can't find their dependencies within modules.  Ideally, Puppet would either fix up $LOAD_PATH before loading things, or would provide an alternative to `require` that temporarily searches the appropriate locat

[2015-11-30 07:03] BabisK commented on #115
Same happens to me on CentOS 7. This happens to some interface for no particular reason while it works for other interfaces with the same configuration.

It has happened both on "physical" interfaces (eth2) and on bridge interfaces.

[2015-11-30 20:26] rski commented on #77
There seems to be some activity in the puppet bug, sprint and team assignments. Things are looking good.

[2015-12-02 12:30] igalic commented on #77
\o/

[2015-12-02 14:38] igalic commented on #115
spooky :ghost:

:(

[2015-12-16 07:39] KlavsKlavsen commented on #129
this is rather annoying.. couldn't the gem be part of the module and used with ruby by using load with full path (by making puppet transfer the ipadress gem to some temp location.. just like puppetlabs-concat does f.ex.).. If this starts to be a trend for all modules, we'll constantly need to manually update all servers, install images etc.. :(

[2015-12-16 07:51] KlavsKlavsen commented on #129
dooh. it seems its only needed on the master.. then its no issue :)

[2015-12-16 07:59] KlavsKlavsen commented on #129
hmm. appearently it just moved the requirement of ipaddress to fail AFTER this:  Could not prefetch network_config provider 'redhat': undefined method `each_with_object' for #<Array:.. when I commented the line causing that fail out - it complained on the client.

Also.. how is this supposed to work with puppet agent.. which has a selfcontained ruby env? AFAIK the load method I suggested would be

[2015-12-16 08:03] KlavsKlavsen commented on #129
and btw. I installed it on my redhat 6 host (ruby 1.8) - and with ipaddress gem on BOTH master and agent.. it still fails (with above each_with_object) and if I mask that out.. it fails :+1:  Could not retrieve catalog from remote server: Error 400 on SERVER: Could not autoload puppet/type/network_config: no such file to load -- ipaddress on node

[2015-12-16 09:19] rski commented on #129
@KlavsKlavsen looks like rhel6 ruby does not have the function each_with_object, which is a whole different issue.
Try running this command on irb on one of your redhat nodes:

(1..1).each_with_object(1)

[2015-12-16 09:54] KlavsKlavsen commented on #129
irb(main):001:0> (1..1).each_with_object(1)
NoMethodError: undefined method `each_with_object' for 1..1:Range
        from (irb):1
        from :0

Seems so. I'm not quite ready to switch to puppet agent (which has embedded ruby :)

[2016-01-13 16:55] robinbowes commented on #86
I too had expected this module to bring up the newly-created interface.

Is this not possible?

[2016-01-13 17:02] robinbowes opened #131 "network_config breaks on Oracle Linux 6 due to "check_link_down" function in ifcfg script"
Oracle Linux 6.7 (possible RHEL 6.7 too - not tested) puts the following in the ifcfg-<if_name> file:

[code]

This breaks the network_config provider. Error is:
[code]

[2016-01-13 23:25] ffrank commented on #86
Just did some digging. In theory, the `reconfigure` parameter should take care of this behavior. After touching the configuration, the provider should bring up the interface through, well, reconfiguring it if the parameter is set.

However, its function is [protected](https://github.com/voxpupuli/puppet-network/blob/1d6966509d3bd872b5cfdbdf5f5e857cd8221915/lib/puppet/type/network_config.rb#L72) by

[2016-01-13 23:28] ffrank opened #132 "Implement the device reconfiguration"
The `reconfigure` parameter for `network_config` is dysfunctional because no available provider has the `reconfigurable` feature.

Add it to providers on platforms where we can do this.

Closes #86

[2016-01-13 23:28] #86 closed

[2016-01-14 09:06] igalic commented on #132
thank you so much for handling this, @ffrank!

[2016-01-28 10:51] lukebigum commented on #129
This is also affecting me, and I'm stuck with CentOS 6 Ruby for the near future. I might try code an alternative to each_with_object() just for Ruby 1.8.7. If anyone has other suggestions, let me know.

[2016-01-28 16:13] rski commented on #129
@jyaworski my original issue is resolved, please do not reopen this. If people are affected by the lack of each_with_object() they should open a different issue.

[2016-01-28 16:13] #129 closed

[2016-01-28 16:24] jyaworski commented on #129
My apologies.

[2016-01-28 17:06] vide opened #134 "Implement network.d fragments for Debian >= 8"
As discussed a bit in PR #133, with Debian Jessie come the handy `source` and `source-directory` features to `interfaces(5)` so almost all of the code in the provider could be rewritten in simpler, classic templates that generate one file per interface.

On the other hand, since RedHat network scripts are since forever like this, it would be even easier to be consistent between the two OSes.

The

[2016-01-28 17:30] lukebigum opened #135 "provider on CentOS 6"
Following on from the second issue reported in #129, I'm modifying the redhat network_config provider to work on CentOS 6. I've ran into an issue where parameters that are undef in a Puppet manifest are being written to disk as "KEY=absent". The issue is reproduced in an acceptance test I've added to https://github.com/lukebigum/puppet-network:

`git clone git@github.com:lukebigum/puppet-network.g

[2016-01-28 20:58] jyaworski commented on #134
I think this would be a good idea to implement. Debian has always been the problem child with this module.

[2016-01-29 13:59] #135 closed

[2016-01-29 13:59] lukebigum commented on #135
#136 now has the code to fix this.

[2016-02-02 17:40] lukebigum opened #138 "redhat provider is not removing lines from files that are not resource properties"
The Red Hat provider is not "purging" lines from a network_config file on disk that are not properties of the resource, or even if the property is explicitly set to undef.

The following manifest test1.pp applied first:
[code]

Will create /etc/sysconfig/network-scripts/ifcfg-eth99 as expected (ignore MTU=absent, the bug will be fixed with #137):

[code]

However the manifest test2.pp applied imme

[2016-02-06 06:17] jyaworski commented on #3
Hello:

Is this still a problem?

[2016-02-06 06:18] jyaworski commented on #7
Hello:

Is this still a problem?

[2016-02-06 06:19] jyaworski commented on #16
Hello:

Is this still a problem?

[2016-02-10 06:54] jbertozzi opened #139 "Slave interfaces being created at everyrun"
Hi,

I am facing a strange behavior under RHEL7 when using this module for bonding configuration.

Here is the resource declaration:

[code]

Variable have correct values set and the files generated are as expected:

[code]

The problem is that this resource is applied at everyrun:

[code]

My interfaces seem to be seen as absent from Puppet point of view on RHEL7:

[code]

While it is working on

[2016-02-17 06:47] jyaworski commented on #139
It's entirely possible that it's the ruby version. Do you have the facility to test with another ruby version on RHEL6 (IE software collections, IUS)?

Just for documentation, what version of ruby are you seeing this behavior with?

[2016-02-19 17:37] igalic commented on #102
i'm fascinated by how this issue is still open :((

we have to release the current state of the module ***to the forge***, and also have to release its dependencies

[2016-02-26 14:54] ffrank commented on #102
Ah hell. Guess this still suffers from my failure to tag the commit early last year, yes?

Will try and prioritize this.

[2016-03-09 09:47] rski commented on #115
Here is a stack trace for the problem:

[code]

I'll look into the issue myself now, but I'm posting this here too in case it helps anyone else

[2016-03-09 10:29] igalic commented on #102
thanks @ffrank :D

[2016-03-10 07:08] rski commented on #115
Found a workaround. It basically crashes because it tries to do stuff with ```provider.options```, which if you don't pass to the resource explicitly defaults to ```:absent```. The workaround is to just pass an empty hash there when defining the resource:

[code]

[2016-03-10 09:58] igalic opened #141 "make module rubocop clean"
currently our builds are failing because of rubocop

[2016-03-10 10:16] rski commented on #141
A lot of failures are related to failing with `fail` instead of `raise`. The official [puppet docs](https://docs.puppetlabs.com/guides/custom_types.html) use `raise`  when failing

[2016-03-10 10:19] igalic commented on #141
we can do these transforms automatically with rubocop -a :D

[2016-03-10 10:54] rski opened #142 "Malformed redhat files are generated"
With the current master (https://github.com/voxpupuli/puppet-network/commit/1be5bcdb7f87336a280c84a43738142b4fb83b31) I get interface files that contain lines like `MTU=absent`. For example:

[code]

will generate:
[code]

Then, if I try to bring the interface up:
[code]

This does not seem to happen with the debian provider

[2016-03-10 11:38] igalic commented on #142
*amazing* ~_~

[2016-03-10 12:21] rski commented on #142
Ok, this happens because every possible key is pushed in the options hash, so the ones that are not given a value end up with `absent`. I'll submit a pr to fix this soonish, but the way that `:absent` is checked for and treated by the provider needs to be sanity checked. Probably tests need to be written for that too. I don't really have the ruby experience required to do this, so someone with a b

[2016-03-11 12:53] rski commented on #142
fixed https://github.com/voxpupuli/puppet-network/pull/143

[2016-03-11 12:53] #142 closed

[2016-03-11 12:55] rski commented on #115
@robbat2 ping
 Is it working for you with the current master? It should be fixed now and this issue should be closed

[2016-03-11 13:07] igalic commented on #141
@rski wanna help with this, and then with #102? :D

[2016-03-11 13:11] rski commented on #141
I've been eyeing #102  for a while cause I'd really like to be able to track a stable package instead of just `master`. Problem is I don't really know what needs to be done for that.

This weekend is a three day one, so I might just do the rubocop cleanup because it doesn't look too hard.

[2016-03-11 13:36] rski commented on #102
I'd like to have a package on the forge as well, is there anything I could do over the weekend to help in that direction?

[2016-03-11 14:06] igalic commented on #141
if you need a hand, you can come to irc (freenode/#voxpupuli) and we'll give you a hand

[2016-03-11 14:07] igalic commented on #102
@rski: here's the official, totally not confusing documentation: https://voxpupuli.org/docs/#releasing-a-new-version-of-a-module

[2016-03-11 14:08] jyaworski commented on #141
Yes, please use the latest modulesync_config which takes the rake update into account.

[2016-03-11 14:16] rski commented on #141
Cool, I'll join the irc from my home client and ping you about these issues tomorrow

[2016-03-11 14:39] jyaworski commented on #115
Closing due to fix. If it's not fixed, please comment.

[2016-03-11 14:39] #115 closed

[2016-03-11 17:37] #141 closed

[2016-03-11 20:53] robbat2 commented on #115
I don't have an environment to test this on anymore (it was in a previous job)

[2016-03-11 20:55] jyaworski commented on #115
@robbat2 no problem. Thanks for the report!

[2016-03-14 13:57] rski commented on #102
https://forge.puppetlabs.com/puppet/network
\o/

[2016-03-14 14:12] rnelson0 commented on #102
Finally completed in a post #148 travis release. Thanks to @rski for the modulesync and release PRs to make it happen!

[2016-03-14 14:12] #102 closed

[2016-03-14 14:13] rski commented on #102
Thank you for your infinite patience in having these PRs reviewed however many times they had to be

[2016-03-15 14:12] rski commented on #66
Bah, I'm running into this as well in CentOS 7, and the worst is that this fails with the second RedHat example in the README. I might look into it ~soonish

[2016-03-15 14:15] rski commented on #104
Closing because this has been fixed and released with 0.5.0 in the forge. If there is a reason to reopen it, let me know.

[2016-03-15 14:15] #104 closed

[2016-03-15 14:26] rski opened #149 "RedHat routes provider puts 'absent' in the files"
Unfortunately the routes provider for RedHat does what the network_config one did.
The second example from the README:
[code]

generates:
[code]

[2016-03-15 14:29] rski commented on #66
A way to reproduce this:

* Remove all the route-* files in /etc/sysconfig/network-scripts
* Apply a single route resource
* A route-[dev] file will be generated for this
* Applying this same resource any number of times won't cause any breakages
* Applying a different route resource will cause this bug to appear

This makes me think that there is something fishy going on when getting existing rou

[2016-03-25 16:55] jcpunk opened #151 "Device by mac address?"
Via my ENC I have access to all the device MAC address and the IP addresses that should be on those interfaces.

Can network_config be extended so that I can select a device based on its MAC rather than the interface name determined by udev?

[2016-03-28 15:16] rski commented on #149
Funny, I can't reproduce this with the 0.5.0 version. I'll leave this open and revisit it at some later time.

[2016-03-30 16:40] rski commented on #66
Here's the line that blows up: https://github.com/voxpupuli/puppet-network/blob/master/lib/puppet/provider/network_route/redhat.rb#L22
I'll work on this a bit today

[2016-03-30 16:56] rski commented on #151
Basically the way this module works is by finding the interface configuration file, parsing it if it exists and dumping in it the new contents. If you take a look at any of the ruby files under `lib/puppet/provider` you'll see that the all implement functions like `select_file`, `format_file` etc. which do exactly this.
The `select_file`s depend entirely on the udev name, because that is how the c

[2016-03-30 17:17] rski commented on #151
You can also force interfaces MAC addresses to be given specific names with udev rules. I kind of feel like this is a problem out of the scope of this module.

[2016-03-30 19:51] rski commented on #151
One the other hand, you could just call `ip` and get the interface name from its output, which might just be the easiest thing to do in this case.
@jyaworski @igalic is this something that would be nice to have in this module or is it just feature creep?

[2016-03-30 19:54] jyaworski commented on #151
I'm inclined to say that this could be useful. I can see a few instances where you would want a spoofed MAC, and this could describe it.

[2016-03-30 21:11] igalic commented on #151
i can see how this could be useful.
i can also see how this would fix #92 and #99.
questions: can we make it backwards compatible?
can we make it so it actually fixes the above issues?

[2016-04-03 10:38] robinbowes commented on #128
Re-opening this to comment that I thin you need to be clearer about where the ipaddress gem should be installed.

We're using PE 3.8.x with pe-puppetserver on the master, and I fixed the "could not autoload" issue by installing the ipaddress gem into the puppetserver environment, ie:
[code]

Is it actually required on the client as well? Or only the server?

[2016-04-03 10:39] robinbowes opened #152 "Not clear where the ipaddress gem should be installed"
Following on from #128...

I think you need to be clearer about where the ipaddress gem should be installed.

We're using PE 3.8.x with pe-puppetserver on the master, and I fixed the "could not autoload" issue by installing the ipaddress gem into the puppetserver environment, ie:
[code]
Is it actually required on the client as well? Or only the server?

[2016-04-03 12:38] rski commented on #152
I think only installed it on the clients. It has been a long time since that so I can't really remember. I haven't worked with PE at all so I can't really help with that, sorry.

[2016-04-03 21:16] robinbowes commented on #152
From my testing, it also need to be installed into the puppetserver ruby, as described above.

[2016-04-04 06:24] rski commented on #152
`locate ipaddr | grep gem` returns something like `/usr/local/share/gems/gems/ipaddress-0.8.0` so it does seem to be installed on our master. To be honest, I can't find good documentation on providers depending on gems.
Maybe [confining the feature](https://docs.puppetlabs.com/guides/provider_development.html) will help and the gem won't be required on the master. It seems this will also make havi

[2016-04-13 14:36] lbeliveau opened #153 "Pre/Post for redhat based system"
Is there a plan to support pre-up, pre-down, post-up and post-down for redhat based system ?

This is straightforward to support on debian, but on redhat you need to put those scriplets in /sbin/ifup-pre-local (and equivalent for other actions/stages).

[2016-04-13 14:40] bastelfreak commented on #153
I'm not aware of anybody currently developing this feature. I also couldn't find any older related issue. Are you interested in that and could contribute some code?

[2016-04-13 14:47] lbeliveau commented on #153
Yeah, I was thinking about that :)  We are still evaluating this aspect of network configuration with packstack and puppet.  I will get back to you on this.

[2016-04-13 17:01] rski commented on #153
@lbeliveau we have hacked that with a bring interface up type which is essentially a wrapper for exec 'ifup'

[2016-04-19 20:04] jyaworski opened #154 "Clear-up documentation for then network plugin"
https://github.com/voxpupuli/puppet-collectd#class-collectdpluginnetwork

Add hiera, make clear they're in-manifest defined types.

[2016-04-21 12:31] igalic commented on #154
huh??

[2016-04-21 14:20] jyaworski commented on #154
Derp. I should look at which VP module I'm filing issues against.

#githubproblems

[2016-04-21 14:20] #154 closed

[2016-04-29 20:23] jcpunk commented on #151
Facter seems to provide mac addresses, so perhaps if 'name' is a mac address of an interface on the system, then the name of the interface (eth0) could be swapped out under the hood?

[2016-05-02 04:21] jyaworski commented on #124
@madmac2501 this will be rectified in the next release, so I'll be closing this. Be on the lookout for 0.5.1.

[2016-05-02 04:21] #124 closed

[2016-05-02 04:22] jyaworski commented on #152
There is a parser function, so it looks like we need to be clear that it's required on both the clients and the servers.

[2016-05-02 04:23] jyaworski commented on #151
@jcpunk [is_mac_address](https://github.com/puppetlabs/puppetlabs-stdlib#is_mac_address) sounds like it could fit the bill here.

[2016-05-02 04:24] jyaworski commented on #45
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:25] jyaworski commented on #48
Hello:

What's the status of this issue? I'm just pinging old issues. Is this possibly related to #98?

[2016-05-02 04:25] jyaworski commented on #53
Closing because this appears to be resolved.

[2016-05-02 04:25] #53 closed

[2016-05-02 04:25] jyaworski commented on #60
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:26] jyaworski commented on #63
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:26] jyaworski commented on #64
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:27] jyaworski commented on #92
This looks like a duplicate of #99, so closing in favor of that.

[2016-05-02 04:27] #92 closed

[2016-05-02 04:28] jyaworski commented on #131
So we're not checking for functions? I suppose we could add {}.

[2016-05-02 04:28] jyaworski commented on #132
Hello:

What's the status of this issue? I'm just pinging old issues. This looks like it was a PR filed as an issue?

[2016-05-02 04:29] jyaworski commented on #3
Closing due to lack of response. Please reopen if needed.

[2016-05-02 04:29] #3 closed

[2016-05-02 04:29] jyaworski commented on #7
Closing due to lack of response. Please reopen if needed.

[2016-05-02 04:29] #7 closed

[2016-05-02 04:30] jyaworski commented on #9
This looks like a duplicate of #99, so closing in favor of that.

[2016-05-02 04:30] #9 closed

[2016-05-02 04:31] jyaworski commented on #16
Looks like a duplicate of #99. Closing.

[2016-05-02 04:31] #16 closed

[2016-05-02 04:32] jyaworski commented on #69
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:32] jyaworski commented on #68
Hello:

What's the status of this issue? I'm just pinging old issues.

[2016-05-02 04:39] jyaworski commented on #138
Does this work in the git version of filemapper from voxpupuli?

[2016-05-02 07:18] pieterlange commented on #69
So i see. Like i said back in 2014, i think this is a documentation bug. I don't have access to a redhat machine with puppet to test though. The README.md still lists example routes without a CIDR netmask spec though

[2016-05-02 07:25] rski commented on #69
I happened to run into this last night while looking into another bug. It won't be updated if network is set to 'default' and the name is 'default', so this seems to have changed since the bug was opened. For other cases it might, since when parsing the files it names the discovered resources as $network/$cidr. This is indeed not clear in the documentation and should be explained.

The actual line

[2016-05-02 11:55] ffrank commented on #132
Sadly, no. This basically just documents a currently know issue (i.e. unimplemented feature) to resolve all the head-scratching in #86.

Any work on this has yet to be started.

[2016-05-02 14:39] #149 closed

[2016-05-03 12:38] guimaluf commented on #68
I really don't know. Long time has past since I'd used this module.
I'll close cause I'd not given enough information anyway

[2016-05-03 12:38] #68 closed

[2016-05-04 11:18] rski commented on #69
It looks like the debian provider will use `default/$netmask` while the redhat only `default`. If the route is not the default route, both will (from the source comments) `use the CIDR version of the target as :name`.
This is an issue, because there is an inconsistency between debian and rh and the same resource can't be named to work both for rh and debian. I'll have a pr for this ready today, bu

[2016-05-04 15:37] rski commented on #69
It is ready, but it seems to make https://github.com/voxpupuli/puppet-network/issues/66 more prevalent so I'll leave it aside for a bit and work on that first.

[2016-05-05 14:53] igalic opened #158 "support for IPv6 routes"
currently we only support IPv4 routes.
we should change that.

[2016-05-05 15:28] jyaworski commented on #158
@igalic do you have an example?

[2016-05-05 15:37] igalic commented on #158
adding this to `/etc/network/routes`
[code]
will fail with:
[code]
or running the equivalent
[code]
will fail with:
[code]

[2016-05-06 12:32] igalic commented on #158
fixed in #22

[2016-05-06 12:32] #158 closed

[2016-05-06 12:34] igalic opened #160 "innitial creation of debian routes sets options as `absent`"
with an empty `/etc/network/routes` file,

[code]
will create
[code]
this seems wrong (but i'm not sure it's bad)

[2016-05-06 13:37] #160 closed

[2016-05-07 15:03] igalic opened #162 "undefined method `with_env' for Facter::Util::Resolution:Class"
my version of facter (3.1.6 (commit 3a021f47393001e7acdde60e53ff8ac0cc04a9ec)) doesn't seem to have `#with_env` in `Facter::Util::Resolution`

[2016-05-07 17:40] igalic opened #163 "IPv6 routes via /etc/network/routes only works on redhat"
redhat directly uses `ip`. debian uses ifupdown-extra. a byzantine set of scripts:
[code]
so IPv6 doesn't actually work on debian. The way to do that in debian would be, again, through network/interfaces. (which, again, uses `ip`)

[2016-05-08 14:05] jyaworski commented on #162
At what point are we going to switch to Facter::Core::Execution? It's been in facter since.... 2.x?

[2016-05-09 18:36] igalic commented on #162
@jyaworski now is as good a time as any…

[2016-05-11 09:06] mmerfort opened #166 "Allow setting every possible option without using the options hash"
I would like to set more options on my CentOS 7 systems like ARPCHECK which are currently only supported with the options hash. I think this is a workaround for missing features which is why I would like to implement those options. Also something like this does not look very nice:
`
options   => {
  peerdns   => 'no',
  arpcheck  => 'no',
},
`
The Problem is that Debian and Redhat seem to have dif

[2016-05-11 09:09] bastelfreak commented on #166
@igalic @rski could I get your opinions here? I'm not sure if it is a good idea (because I know very little about T&P :( ).

[2016-05-11 11:01] rski commented on #166
I'd hate to split up the types per OS. I feel it defeats the purpose of puppet, which is to be able to configure something without caring what the underlying OS is. If you really need a specific OS functionality, there is always `case` & `options`.
There are lots of resources that have as parameters only the ones that are common between their providers and then chug the rest into options, which ho

[2016-05-11 13:16] jyaworski commented on #166
@rski we can confine types to certain OS, osfamily right?

[2016-05-11 13:34] rski commented on #166
@jyaworski can you? I thought types are singular whereas providers are not and can be confined

[2016-05-11 15:34] igalic commented on #45
@adrienthebo, 2013:

yes. let's. let's also install ipaddr gem.

[2016-05-12 06:51] rski commented on #69
should be ok now as long as you name default routes 'default' and give them a 0.0.0.0 netmask

[2016-05-12 06:51] #69 closed

[2016-05-12 07:44] mmerfort opened #167 "Add global network configuration on CentOS 7"
I'm currently migrating from another network module which allows setting global network options like gateway or nisdomain which are written into /etc/sysconfig/network on CentOS 7. I could implement this feature for CentOS but have no experience with Debian.

Is this a feature which this module should include and how should I go about implementing a feature which might be specific to the Redhat fa

[2016-05-12 13:48] bastelfreak commented on #167
:+1: for that. Partial support of a feature is still better than no support at all. @rski @jyaworski what do you think?

[2016-05-12 19:05] igalic commented on #166
what @rski said.

[2016-05-17 08:49] mmerfort commented on #166
Thank you for your input. I think this can be closed.

[2016-05-17 08:49] #166 closed

[2016-05-19 12:58] vholer commented on #152
I think the dependency on external library you have to install on all clients is very unfortunate. I had to hack this by adding dirty fake Facter code, which installs the library before serious Puppet functionality is executed:

facter/fix_packages.rb:
[code]

Isn't it possible (and better) to embed the ipaddress into module's `lib/` directory? Thanks.

[2016-05-19 13:05] tuxmea commented on #152
We had a similar issue with a type and provider. We decided to confine the provider.
If you really want to hack in the installation in this way I would not go for OS specific installations but use puppet resource package instead.
This will prevent OS specific code.

[2016-05-19 13:57] mmerfort opened #169 "Redhat route provider unable to parse new format of route file"
The redhat route provider at https://github.com/voxpupuli/puppet-network/blob/master/lib/puppet/provider/network_route/redhat.rb cannot parse my route config which looks like this:

[code]

I think it's supposed to parse the “ip route” syntax but I'm not sure about that.
This causes the module to throw errors like this:
`Could not prefetch network_route provider 'redhat': Malformed redhat route fi

[2016-05-19 13:59] vholer commented on #152
You are right, on the other hand it takes more time to check and install via `puppet resource`:

* rpm/yum: check - 0.02s, check&install - 2.2s
* puppet: check - 1.2s, check&install - 3.7s

... and these are best measured time, usually was a more higher.

But that's not important right now. I just wanted to ask if there are any plans to fix this inside the module (either by installing the module s

[2016-05-19 14:06] rski commented on #169
The provider can't parse the format your route config is in. It reads files using the format described [here](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Deployment_Guide/sec-Configuring_Static_Routes_in_ifcfg_files.html#sec-networkscripts-static-routes-ip-command).
Something like `192.168.2.0/24 via 192.168.1.1 dev $yourdevicename` should work though

[2016-05-19 14:08] rski commented on #152
@vholer  ideally [this](https://github.com/voxpupuli/puppet-network/pull/168) will be done someday soon  and a new version of puppet-network will be released to the forge. Then you'll just have to add `include network` somewhere in your manifest and things will work.

[2016-05-19 14:09] bzed commented on #44
not sure if @jcharaoui's case is the same the bug reporter is having, but it is definitely an issue we always run into.

[2016-05-19 14:37] mmerfort commented on #169
According to /usr/share/doc/initscripts-9.49.30/sysconfig.txt (at least on my CentOS 7.2 system) this is the old way.

[code]

[2016-05-19 14:48] rski commented on #169
ah :(

[2016-05-19 14:51] mmerfort commented on #169
I also tried using the old syntax as described in your link but that didn't work either:
`Error: Could not prefetch network_route provider 'redhat': invalid address`

With the long notation after the slash (wtf?) I'm getting `Could not evaluate: undefined method `[]' for nil:NilClass` which might be #66

[2016-05-20 10:02] vholer commented on #152
@rski Thank you.

[2016-07-18 13:30] kallies commented on #162
I get this error with Puppet Enterprise 2016.2 on Ubuntu 14.04 (Agent) and Ubuntu 16.04 (Master)

    Error: Facter: error while resolving custom fact "network_nexthop_ip": undefined method `with_env' for Facter::Util::Resolution:Class

[2016-07-21 22:12] bastelfreak opened #175 "enhance spec_helper.rb"
The file is currently not managed by modulesync. We should try to implement that.

[2016-08-26 14:21] alexjfisher commented on #162
`Facter::Core::Execution` doesn't support `with_env` either...

Is setting the path with `with_env` actually needed though?  I can't find many other modules that do this.  eg https://github.com/puppetlabs/puppetlabs-firewall/blob/1.8.1/lib/facter/ip6tables_version.rb#L4
This uses `ip6tables`, which like `ip` is also in `/sbin/` on my distro at least.

[2016-09-02 14:00] #152 closed

[2016-09-02 17:55] #45 closed

[2016-09-05 17:12] rski opened #179 "Enable and fix rubocop violations"
As of https://github.com/voxpupuli/puppet-network/commit/ea7cac426ea123629821e49d88cd305f7afe3f23 some checks are disabled. These have to be enabled and fixed.

[2016-09-05 19:36] alexjfisher commented on #179
*have* to?  I'm not so sure (but would be happy to be convinced otherwise). I did consider fixing the violations, but couldn't think of a nice way that actually improved the tests.

eg in
[code]

From http://betterspecs.org/#single

I think it could be argued that we're only testing one behaviour ie 'values are in order'

From http://programmers.stackexchange.com/questions/7823/is-it-ok-to-have-mu

[2016-09-06 06:16] rski commented on #179
Ah, good point. If there is no meaningful semantics there is no point.

[2016-09-06 07:38] alexjfisher commented on #162
Fixed in https://github.com/voxpupuli/puppet-network/pull/177

[2016-09-06 07:38] #162 closed

[2016-09-09 13:57] sap-dev opened #181 "bridge_port via puppet"
Hello,

we use your network module for deploy our servers.

We need a option to add bridge_port none to an br0 Iface.

In our doku we don´t can find anything about that.

[2016-09-22 10:51] amateo opened #189 "Problem with routes in ubuntu"
Hi,

I'm trying to use this module to configure my network routes. I'm running ubuntu servers (12.04, 14.04 and 16.04). My problem is that although ```network_route``` is creating entries in ```/etc/network/routes``` the route is not actually added in the system after a restart or manually add.

To solve this, I have add an exec to run ```/etc/init.d/networking restart``` but this doesn't work in

[2016-09-22 10:56] rski commented on #189
It puts extra spaces that make the file unparsable by ifupdown-extra? that sounds bad, can you post an example manifest and resulting networking-routes script?

[2016-09-22 11:13] amateo opened #190 "IPv6 routes don't work with Ubuntu"
In a ubuntu system, ipv6 routes are added to ```/etc/network/routes``` as:
[code]
The problem is that script provided in ```ifupdown-extra``` to read that file creating routes run:
[code]
and fails because the netmask is expected in inet prefix format. So the correct format for the file should be
[code]

[2016-09-27 11:23] amateo commented on #189
This is a sample manifests:
[code]
With this manifest, you can see the ```route``` file produced in [this gist](https://gist.github.com/amateo/92f752b3b4727d9c9e1955efe8fceaa2#file-routes), where you can see spaces at the end of line 6.
The problem is that in some ubuntu distributions (I have checked it in 12.04 and 14.04) the ```/etc/init.d/networking-routes``` provided with ```ifupdown-extra```

[2016-11-27 15:57] igalic opened #198 "our custom facts fail, when they could instead just use facter!"
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8.1
- Ruby: <builtin>
- Distribution: Ubuntu 14.04
- Module version: 0.6.1

### How to reproduce (e.g Puppet code you use)
[code]
### What are you seeing
[code]
### What behaviour did you expect instead

We should defer to facter3, instead of trying to figure all of this out on our own.

[2016-11-28 10:28] rski opened #199 "Add IPv6 facts"
Currently only ipv4 facts are supported

[2016-11-28 11:34] alexjfisher commented on #199
@rski Sorry, finger trouble!

[2016-11-30 21:35] rski commented on #198
fixed by this (in theory): https://github.com/voxpupuli/puppet-network/pull/200

[2016-12-01 10:13] igalic commented on #198
i'll update my production servers with this, and see how they blow up

[2016-12-01 11:46] igalic commented on #198
they don't.
******
however, it doesn't work via `facter -p`, only via `puppet facts`

[2016-12-01 12:05] rski commented on #198
I'm not sure if i got what happens. If i got this right:
- `facter networking.primary` works
- Getting the same thing with puppet fact works
- `facter network_primary_interface` does not return anything

[2016-12-01 15:11] igalic commented on #198
could this be an ordering issue?

[2016-12-01 15:16] rski commented on #198
don't think so. I don't think I understand what the issue is, that's why i'm asknig what the output of the commands is.

[2016-12-02 13:42] igalic commented on #198
[code]

[2016-12-02 14:30] rski commented on #198
now that is interesting

[2016-12-02 14:38] rski commented on #198
can you postthe output of `facter -p networking` as a whole?

[2016-12-02 18:32] igalic commented on #198
[code]

[2016-12-04 21:42] rski commented on #198
Huh, I don't get it. The hash looks the same for me too. Is it because of the way it is accessed?

[2016-12-04 21:42] rski commented on #198
what version of ruby are you using?

[2016-12-04 21:45] igalic commented on #198
updated

[2016-12-04 21:47] rski commented on #198
If you clone puppet-network in the system it is failing and run inside the puppet network folder
`facter -p network_primary_interface --custom-dir=./lib/facter/` does it work?

[2016-12-04 21:48] igalic commented on #198
[code]

[2016-12-04 21:50] rski commented on #198
so not an issue with the code per se, but a loading issue. I'm not sure if i can help debug that but maybe something wrong with the puppet-network version installed/loaded in the master/agent?

[2016-12-04 21:55] rski commented on #198
Maybe running
`facter -d -p network_primary_interface`
 will give a hint

[2016-12-04 21:59] igalic commented on #198
[code]

[2016-12-04 22:10] rski commented on #198
Huh this is why the old implementation failed:

Right so, it seems to me that it executes the code inside the network_primary_interface fact that calls facter to get the `networking` fact but then it comes back with ` fact "network_primary_interface" does not exist.`
what

[2016-12-29 19:55] dn1s opened #209 "Change netmask to cidr for redhat/centos"
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Deployment_Guide/sec-Configuring_Static_Routes_in_ifcfg_files.html

As you can see redhat/centos no longer uses ipaddress/netmask for route creation therefore route files can be created but won't be applied. Fix is to remove netmask from redhat route ruby code and replace it with cidr instead.

i have a quick example how

[2017-01-16 13:50] yorickps opened #213 "puppet-boolean module not available anymore via puppetforge"
The puppet-boolean module referenced in metadata.json is not available anymore via the puppetforge.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8.1
- Ruby: 2.3.2
- Distribution: CentOS 6.8
- Module version: 0.7.0

## How to reproduce (e.g Puppet code you use)
When installing modules via librarian-puppet, it fails because of the missing dependency of puppet-network

[2017-01-16 19:07] alexjfisher commented on #213
@yorickps Thanks for reporting this. I've opened https://github.com/voxpupuli/puppet-boolean/issues/18  Hopefully we can get this resolved soon.

[2017-01-16 19:26] alexjfisher commented on #213
@yorickps This should now be fixed.  https://forge.puppet.com/puppet/boolean

[2017-01-16 19:26] #213 closed

[2017-01-17 08:04] yorickps commented on #213
@alexjfisher thanks for the quick fix.

[2017-02-11 13:17] igalic opened #215 "Package[ipaddress]: Provider gem is not functional on this host"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.9.1
- Ruby: 2.1.9
- Distribution: Ubuntu/trusty
- Module version: 107ed810cdf5b525218f9ce1c65d984ec3b430dd

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

[code]

## What behaviour did you expect instead

I would've expected the module to pick up the [correct `gem_*` provider](https://github

[2017-02-11 17:49] igalic commented on #215
a fix for this can be found in https://github.com/voxpupuli/puppet-network/pull/216

[2017-02-11 17:55] igalic commented on #215
this was fixed with https://github.com/voxpupuli/puppet-network/pull/216

[2017-02-11 17:55] #215 closed

[2017-02-13 20:19] sacres commented on #60
As this is from the wayback machine as well as the puppet version, etc. EOL; I'll close this.

[2017-02-13 20:19] #60 closed

[2017-02-14 13:24] jurim76 commented on #77
The bug still exists

puppet-3.8.5
puppet-network-0.7.0
puppet-filemapper-2.1.0

Error 400 on SERVER: Could not autoload puppet/type/network_config: Could not autoload puppet/provider/network_config/redhat: cannot load such file -- puppetx/filemapper

[2017-02-14 15:19] jhoblitt commented on #77
Has the puppetserver config been changed to allow loading of PuppetX?

https://tickets.puppetlabs.com/browse/SERVER-973

[2017-02-14 15:56] jurim76 commented on #77
Do you mean "pluginsync" parameter?
pluginsync set to "true"

[2017-02-14 16:00] jhoblitt commented on #77
I mean adjusting the `ruby-load-path` similar to https://github.com/jenkinsci/puppet-jenkins/blob/master/NATIVE_TYPES_AND_PROVIDERS.md#puppetserver

[2017-02-14 16:07] njm506 commented on #77
On Puppet 3.8 I'm currently working around this with a hack module, adding a parser function which affects the Puppetmaster's Ruby environment:
[code]

I've then got a manifest which looks like this:
[code]

So you can either `include libfix` or declare it like a resource and select particular modules to place on the load path (in case you need to work around problematic modules).  It's a relative

[2017-04-14 03:02] gerases opened #221 "forcing network service restart upon a change"
Hi,

Upon configuring an interface, I though the network service would restart, but it doesn't. Can I do something to make that happen automatically? This is how I configure an interface:

[code]

[2017-04-14 07:55] rski commented on #221
Hi gerases,

this is a known issue https://github.com/voxpupuli/puppet-network/issues/132.  Forcing an if down/up on the interfaces (with exec?) would make them use the updated configuration.

[2017-04-14 15:01] gerases commented on #221
Cool. I was thinking about doing an exec but wasn't sure if it was best practice. Thank you much.

[2017-04-14 17:17] rski commented on #221
Well, I don't know if that is the right solution either, but that is what I ended up doing when using puppet-network myself. Hope it helps.

[2017-04-17 13:20] Yamakasi opened #223 "Can we only call this resource in an existing manifest ?"
I wonder if we can only call these network_ functions in an existing manifest. As I want to use this in foreman we need a create_resources and I think this would be nice to add anyways.

[2017-04-25 13:57] KoenDierckx opened #224 "spec fixture files contain illegal path character ':' on Windows"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10
- Ruby:
- Distribution: Ubuntu 14.04 LTS
- Module version: 0.7.0

## How to reproduce (e.g Puppet code you use)
add module to Puppetfile
run r10k using windows

## What are you seeing
INFO     -> Deploying Puppetfile content environments/puppet4/external-modules/network
ERROR    -> No such file or directory @ rb_file_s_

[2017-04-25 15:05] rski commented on #224
I'm not sure whether we should, since this is the proper naming scheme for the file

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Deployment_Guide/s2-networkscripts-interfaces-alias.html

[2017-06-11 22:34] bastelfreak opened #227 "fix current rubocop issues"
Right now there is a bit of rubocop foo:

[code]

They are currently disabled, but should be fixed.

[2017-11-09 08:08] eliaoggian commented on #221
I am wondering if restarting the network service at every puppet run is a good idea.
What I mean is: in a production environment, could this cause some connection issues?

I am using the network module as it follows:

`class profile::network::interfaces($interfaces = hiera('interfaces',false)) {
  if ($interfaces != false) {

    include '::network'
    create_resources(network_config, $interfaces

[2017-12-09 19:53] mcblum opened #235 "Option to set DNS?"
Thanks for working this! I've read through the docs a couple times and I can't seem to actually find a way to set DNS servers. Am I just being dense?

[2017-12-11 17:25] alexjfisher commented on #235
I've not tested it, but looking through the code, you might be able to use the `options` parameter?
[code]

[2017-12-11 20:53] mcblum commented on #235
@alexjfisher thanks! will give it a try later today.

[2018-01-08 19:51] kfowler-embue opened #237 "update version dependencies for boolean and filemappper"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3.3
- Ruby: 2.4.2p198
- Distribution: ubuntu 16.04
- Module version: 0.9.0

## How to reproduce (e.g Puppet code you use)
puppet module list

## What are you seeing
this module limits versions of dependencies (boolean, filemapper) below their current versions

## What behaviour did you expect instead
Expect the latest vers

[2018-01-08 21:24] bastelfreak commented on #237
Hi @kfowler-embue, thanks for this issue. Can you provide a PR which bumps the version boundaries?

[2018-01-09 16:05] bastelfreak commented on #237
Fixed by https://github.com/voxpupuli/puppet-network/pull/238

[2018-01-09 16:05] #237 closed

[2018-02-05 15:54] mdwheele opened #239 "Are there any plans to support `netplan` with Ubuntu 18?"
Related: https://wiki.ubuntu.com/Netplan, https://wiki.ubuntu.com/MigratingToNetplan

If there is a better place for this type of question, let me know and I can close.

Netplan is an abstraction over `NetworkManager` / `networkd`. It uses YAML configuration files to specify supported backends and renders configs. It currently is released on Ubuntu 17.10 and will ship with Ubuntu 18.04 LTS.

Where

[2018-02-07 04:19] bastelfreak commented on #239
Hi @mdwheele, thanks for bringing this up. I am not sure if this module is the right place for netplan, probably not. Maybe it needs its own module, which uses puppet-network as a dependency (depending on the type of backend)? For networkd support you maybe want to check out https://github.com/camptocamp/puppet-systemd.

[2018-02-14 00:28] olifre commented on #209
Any news on this?
It seems that as of now, there is no RedHat / CentOS based OS supported by this module anymore which has a working `network_route` resource, so maybe it should just fail hard instead of create a broken route - took me a while to figure this issue out, especially since the `route`-file parser parses `255.255.255.0` as CIDR `25` and creates a corresponding rule...

[2018-02-14 13:02] alexjfisher opened #240 "Get rid of type *property* defaults and use of Puppet::Property::Boolean"
trevor.viljoen reported this issue on slack

[code]

The problem is that we use defaults for properties.  Defaults are ok for parameters, but not so much for properties.  Sometimes a default is needed for resource creation, but this code can go in the provider create method instead.

Worse still are the properties that default to true and use Puppet::Property::Boolean. Puppet::Property::Boolean is

[2018-03-12 20:57] dhollinger commented on #209
@olifre I will try and take a look at this tonight.

[2018-03-13 01:55] dhollinger commented on #209
@olifre The `netmask` parameter already supports CIDR format as of now. I will work on trying to enforce that in the future, once I have some bandwidth available to do so. This refactor to enforce CIDR format for netmask in EL7 will probably be done as part of the refactor to have puppet-network use the `ip route` command to add routes instead of just placing a file that will then require a `notif

[2018-03-13 02:24] dhollinger commented on #240
@alexjfisher looks like there is an overarching issue with boolean properties in resource types: https://tickets.puppetlabs.com/browse/PUP-2368

Based on @DavidS's comment at the end of the ticket, this issue affects even the new Resource API.

[2018-03-13 08:18] alexjfisher commented on #240
@dhollinger Correct.  I've bumped into this in a few other modules.
 eg. https://github.com/theforeman/puppet-pulp/pull/284

Shame about the resource API.  I think after his talk at FOSDEM, David told me booleans properties were fixed in the new API.  I guess not though.

[2018-03-13 08:21] DavidS commented on #240
*Writing* boolean properties, yes.

Can't do much about core puppet being a jerk, though. That's @joshcooper's sisyphus.

[2018-03-15 04:33] joshcooper commented on #240
Is it `nil`, `false`, or `:false`... all I got is tears.

[2018-05-29 19:35] c33s commented on #224
some problem here, please rename

[2018-08-18 10:49] lukebigum opened #246 "Question: persistent network rules"
Would you be interested in a type and provider for persistent network rules (/etc/sysconfig/network-scripts/rule-XXX in Red Hat)?  Unfortunately I'm in no position to code for the Debian side of things, so it would be a Red Hat flavour'd type only to begin with.

[2018-08-18 11:29] bastelfreak commented on #246
@dhollinger can you take care of this. I think you said you plan something similar, maybe it can workout together.

[2018-10-10 00:13] trenta commented on #235
This doesn't seem to work for a bond because "options" there is passed to Bonding options.

[2019-02-09 23:18] logicminds opened #250 "add puppet 6 support"
The metadata.json file limits this module to only working with versions prior to puppet 6.  Please add support for puppet 6.

[2019-08-12 16:18] #250 closed

[2019-08-17 11:45] SimonPe opened #258 "Double initialisation of "interfaces" provider causes exception (aka can't purge unmanaged config)"
Due to some autoloading behaviour when using `resources{'network_config': purge => true}` or `crayfishx/purge` 2 instances of the provider get created.

This creates a problem because `FileMapper` calls `parse_file('/etc/network/interfaces')` twice, resulting in it detecting duplicate interfaces since the parse state gets kept globally between runs in the `Instance` class.

## Affected Puppet, Rub

[2019-08-17 11:56] SimonPe commented on #258
also
[code]
as sugested in #78 does not work for this and even if it did it still wouldn't fix the `crayfishx/purge` usecase.

[2019-09-03 09:42] runejuhl commented on #139
I'm seeing the same issue on RedHat 7.6:

[code]

Ruby version:

[code]

[2020-01-21 15:06] traylenator commented on #240
Is this why I see with:

[code]
I get the error:

[code]

when there is no `HOTPLUG` entry in `ifcfg-enp5s0f0`

Property is defined as :

[code]

Not possible to produce the the error with a trivial puppet manifest and puppet apply - only a full puppet run.

[2020-02-04 12:24] mkoe opened #267 "Unable to set correct netmask for IPv6"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: ruby2.1 ( 2.1.5-2+deb8u8 )
- Distribution: Debian (Jessie)
- Module version:  tag: v0.9.0 + branch: master

Tested with both moduleversions

## How to reproduce (e.g Puppet code you use)

issues:
1. cannot set a netmask like 64 128 or any other value for ipv6 addresses
2. you can set a ipv4 netmask for a ipv6

[2020-05-18 15:00] #139 closed

[2020-07-28 10:59] strigazi commented on #240
We get the same for `onboot`:
[code]

[2020-08-19 21:21] cantebigene opened #269 "Potential vulnerability in Puppet file: Suspicious Comment"
The following script seems to have a suspicious comment `# https://bugs.launchpad.net/ubuntu/+source/ifupdown/+bug/1224007`: https://github.com/voxpupuli/puppet-network/blob/111c1b012f1bad8280f87c0741a576aa0cf6b0f9/manifests/bond/debian.pp#L46

A suspicious comment usually contains information on the presence of defects, missing functionality or weakness of the system.

This type of smell can lead

[2020-08-19 22:05] #269 closed

[2020-12-09 22:56] amuckart commented on #239
It seems strange to me to have a module called 'network' that can't manage the default network configuration system of a major distribution.
Should this perhaps be renamed to 'ifupdown' instead?

[2021-08-20 19:55] bastelfreak opened #272 "Drop Puppet 4/5 support"
both are EoL and got dropped in https://github.com/voxpupuli/puppet-network/pull/268

[2021-08-20 19:55] #272 closed

[2021-08-23 18:58] sboyd-m opened #274 "Puppet facts not populating after 61b10ea7fc1861bd334f14aad456d3027592e68f"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5
- Ruby: `ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]`
- Distribution: Debian
- Module version: Master

## How to reproduce (e.g Puppet code you use)
Simply try and read the fact `network_primary_interface`

## What are you seeing
Fact returns the empty string.

## What behaviour did you expect instead
Not t

[2021-08-23 19:26] sboyd-m commented on #274
We use this fact internally as hiera like so:
[code]

I confirmed by viewing puppet logs that this fact stopped working exactly when this commit happened, and I also verified the hashes of the file before and after based on the puppet logs:
`content changed '{md5}9164ece59c43998af1efb392c0023ff6' to '{md5}6d9bca1d4813ea164f4a46b654fa0f66'`

Curiously, I patched our hiera to use the `networking.pri

[2021-08-23 19:33] sboyd-m commented on #274
Ahh, I didn't notice at first, but that commit added colons to the beginnings of all the facts that used to exist...

Why? Why break things?

[2021-08-23 20:03] kenyon commented on #274
https://github.com/voxpupuli/puppet-network/commit/61b10ea7fc1861bd334f14aad456d3027592e68f was in #268.

[2021-12-25 02:27] AlexSamad opened #281 "unable to set /32 route"
Hi

I have this set

  network_route { '22.7.32.61':
    ensure    => 'present',
    gateway   => '10.32.20.122',
    netmask   => '255.255.255.255',
    network   => '22.7.32.61',
  }

and it fails

Error: Could not prefetch network_route provider 'redhat': invalid address: 32

Warning: /Stage[main]/Role::Ybdns::R20211224/Network_route[22.7.32.61]: Skipping because provider prefetch failed

when

[2021-12-25 02:57] AlexSamad commented on #281
Did some more digging
my route-eth0 file had

202.74.32.61/32 via 10.32.20.122 dev eth0

if couldn't handle it and was balking at that.

[2021-12-25 08:43] christophmerz commented on #281
Dear sender,

due to a ransomware attack and necessary security measures, CGM is temporarily not reachable in some regions via the usual eMail addresses and landline numbers.
In these cases, please feel free to use SMS and mobile telephony of your individual contact persons, as far as they are known to you or inform yourself about further contact possibilities via the respective company or product

[2021-12-28 22:11] AlexSamad commented on #281
Still getting this after reboot of the node

Error: /Stage[main]/Role::Ybdns::R20211224/Network_route[22.7.32.61]: Could not evaluate: undefined method `[]' for nil:NilClass

  network_route { '22.7.32.61':
    ensure    => 'present',
    gateway   => '10.32.20.122',
    netmask   => '255.255.255.255',
    network   => '22.7.32.61',
    interface  => 'eth0',
  }

cat /etc/sysconfig/network-scripts

[2021-12-30 23:12] christophmerz commented on #281
Dear sender,

CGM is temporarily not reachable in some regions via the usual eMail addresses and landline numbers.  In these cases, please feel free to use SMS and mobile telephony of your individual contact persons, as far as they are known to you or inform yourself about further contact possibilities via the respective company or product page.

Thank you for your understanding and best regards,

[2022-02-21 09:57] ajurjevi commented on #267
Can someone address this issue?

[2022-04-27 21:48] oniGino commented on #77
FYI to anyone with this issue, and your attempting to run this module inside of a branch. You need to make sure your puppet master also gets a run on that same branch or else the necessary PuppetFile modules will not exist server side, even though the ruby code might be on the agent side, it will still fail.

[2022-05-06 00:51] oniGino commented on #209
same problem as  #281
Pretty sure this module is totally abandoned its been over a year with no dev work

[2022-05-06 00:53] oniGino commented on #169
reslated to #281,
why is this marked as an enhancement and not a defect?
This module is totally broken on centos7+8

[2022-05-06 06:59] #169 closed

[2022-05-06 06:59] #209 closed

[2022-05-06 06:59] #281 closed

[2022-05-06 23:34] oniGino commented on #64
This is partially fixed in #282 but the NilClass issue can still occur, but at the route file should be written properly
this can maybe be closed?

[2022-05-20 10:28] #64 closed

[2022-05-20 10:28] #66 closed

[2022-07-25 07:23] darktim opened #286 "Question: VLAN in RedHat"
I am trying to set up the network on a kernel based hypervisor.

puppetserver version: 6.14.1
puppet agent version: 6.26.0
OS: Red Hat Enterprise Linux Server release 7.9 (Maipo)

[code]

with the corresponding hiera data:

[code]

This results in a change in every puppet agent run:
[code]

I *guess* the reason is in lib/puppet/provider/network_config/redhat.rb line 165:

[code]

When I remove thi

[2022-11-10 14:07] legooolas opened #288 "Ubuntu 20.04 bonded interfaces don't work -- explicitly disables slave/member interfaces in manifests/bond/debian.pp"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All (tested on 6.28.0)
- Ruby: 2.5.9p229 from Puppet 6
- Distribution: Testing on Ubuntu 20.04 (but affects any Debian-based distro?)
- Module version: github head, or 1.0.1 from Puppet Forge give same behaviour

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Slave interfaces are explicitly di